{% extends 'base.html.twig' %}
<div id="fh5co-wrapper">
    <div id="fh5co-page">
        <div id="fh5co-header">
            <header id="fh5co-header-section">
                <div class="container">
                    <div class="nav-header">
                        <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
                        <h1 id="fh5co-logo"><a href="index.html">Gyminder</a></h1>
                        <!-- START #fh5co-menu-wrap -->
                        <nav id="fh5co-menu-wrap" role="navigation">
                            <ul class="sf-menu" id="fh5co-primary-menu">
                                <li class="active"><a href="index.html">Home</a></li>
                                <li><a href="trainer.html">Trainers</a></li>
                                <li><a href="about.html">About</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>
        </div>
        <!-- end:fh5co-header -->
        <div class="fh5co-hero">
            <div class="fh5co-overlay"></div>
            <div class="fh5co-cover" data-stellar-background-ratio="0.5" style="background-image: url(images/home-image.jpg);">
                <div class="desc animate-box">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7">
                                <h2>Healthy spirit in healthy body</b></h2>
                                <p>Get motivated to build discipline to stay fit and inspire others to follow you</p>
                                <span><a class="btn btn-primary" href="#">Join today</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end:fh5co-hero -->
        <div class="fh5co-parallax" style="background-image: url(images/home-image-3.jpg);" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container"> 
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
                        <div class="fh5co-intro fh5co-table-cell animate-box">
                            <h1 class="text-center">Commit To Be Fit</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end: fh5co-parallax -->
        <div id="fh5co-team-section" class="fh5co-lightgray-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="heading-section text-center animate-box">
                            <h2>Meet Our Top Motivators</h2>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-4 col-sm-6">
                        <div class="team-section-grid animate-box" style="background-image: url(images/trainer-1.jpg);">
                            <div class="overlay-section">
                                <div class="desc">
                                    <h3>John Doe</h3>
                                    <span>Body Trainer</span>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                                    <p class="fh5co-social-icons">
                                        <a href="#"><i class="icon-twitter-with-circle"></i></a>
                                        <a href="#"><i class="icon-facebook-with-circle"></i></a>
                                        <a href="#"><i class="icon-instagram-with-circle"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="team-section-grid animate-box" style="background-image: url(images/trainer-2.jpg);">
                            <div class="overlay-section">
                                <div class="desc">
                                    <h3>James Smith</h3>
                                    <span>Swimming Trainer</span>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                                    <p class="fh5co-social-icons">
                                        <a href="#"><i class="icon-twitter-with-circle"></i></a>
                                        <a href="#"><i class="icon-facebook-with-circle"></i></a>
                                        <a href="#"><i class="icon-instagram-with-circle"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="team-section-grid animate-box" style="background-image: url(images/trainer-3.jpg);">
                            <div class="overlay-section">
                                <div class="desc">
                                    <h3>John Doe</h3>
                                    <span>Chief Executive Officer</span>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                    <p class="fh5co-social-icons">
                                        <a href="#"><i class="icon-twitter-with-circle"></i></a>
                                        <a href="#"><i class="icon-facebook-with-circle"></i></a>
                                        <a href="#"><i class="icon-instagram-with-circle"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div id="footer">
                <div class="container">
                    <div class="row">
                    </div>
                    <div class="row copy-right">
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <p>Copyright 2017 Free Html5 <a href="#">Gyminder</a>. All Rights Reserved. </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>


    </div>
    <!-- END fh5co-page -->

</div>